#main_div{
	background-color: #808080;
	padding: 20px;
}
input#searchTeams{
	padding: 10px;
	width: 90%;
}
#team_title {
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	padding: 10px;
}

.tableHeadings {
	background: #8da80c;
}